html, body
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-wrap: wrap;
}

header, main, footer
{
    width: 100%;
}

header, footer
{
    background: #345;
    color: antiquewhite;
}
header a
{
    color: aliceblue;
    text-decoration: none;
    transition: 550ms ease-in-out;
}
header li:hover
{
    transform: scale(1.2);
}
main
{
    background-color: #abc;
}